.container-all {
  display: flex;
  padding: 1rem 14rem;
  align-items: center;
  gap: 2rem;
  height: 3rem;
  background: #f4f4f4;
}
.Menu-ul-1 {
  list-style: none;
  display: flex;
  gap: 6rem;
  z-index: 1;
}
.Menu-ul-1 li {
  cursor: pointer;
  position: relative;
  color: #333;
  font-family: 'Open sans', sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  transition: 0.3s;
  width: 10rem;
}
.Menu-ul-2 {
  list-style: none;
  display: flex;
  gap: 5rem;
  padding-left: 26rem;
  z-index: 1;
}
.Menu-ul-2 li {
  position: relative;
  cursor: pointer;
  color: #333;
  font-family: 'Open sans', sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  transition: 0.3s;
  width: 6rem;
}
.Menu-ul-1 li::before {
  content: '';
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  width: 0; /* Inicialmente sem largura */
  height: 3px;
  background-color: #fe86a4;
  transition: width 0.3s ease;
}
.Menu-ul-2 li::before {
  content: '';
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  width: 0; /* Inicialmente sem largura */
  height: 3px;
  background-color: #fe86a4;
  transition: width 0.3s ease;
}
.Menu-ul-1 li:hover::before {
  width: 100%;
}
.Menu-ul-2 li:hover::before {
  width: 100%;
  color: var(--brand-colors-rosa-01, #fe86a4);
}
.Menu-ul-1 li:hover {
  color: #fe86a4;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.7%;
  left: 45%;
  cursor: pointer;
  z-index: 1;
}
.container-img img {
  width: 8.2rem;
  height: 8.2rem;
}
.container-button {
  padding: 1rem;
  z-index: 1;
}
.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 2rem;
  border: 1px solid #fe86a4;
  padding: 0.625rem 1.5rem;
  color: #fe86a4;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: 0.3s ease;
  cursor: pointer;
}
.button:hover {
  background: #fe86a4;
  color: #fff;
  border: solid 1px #3f3b3b;
}
.button-menu {
  text-decoration: none;
  color: #333;
}
.button-menu:hover {
  color: #fe86a4;
}
.Menu-ul-2 li:hover {
  color: #fe86a4 !important;
}
