.container-Allintro {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 8rem 14rem;
  gap: 6rem;
}
.container-Allintro article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-Allintro article h1 {
  color: #333;

  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 53.2px;
}
.container-Allintro article p {
  color: #b16133;
  font-family: 'Lora' serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 30px; /* 150% */
  width: 85rem;
}
