.container-elements {
  display: flex;
}
.container-category-products {
  display: flex;
  flex-direction: column;

  border: solid 1px #f3c4e9;
  border-radius: 12px;
  padding: 1rem;
  width: 16rem;
}
.container-category-products h1 {
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: -0.2px;
}
.selecao-sabor {
  display: flex;
  gap: 1rem;
  padding-left: 0.3rem;
  padding-top: 1rem;
}
.container-boxs {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-top: solid 1px #e4e9ee;
  padding-top: 1rem;
  width: 18rem;
}
.container-boxs h1 {
  color: #333;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.2px;
}
.opcao-sabor {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}
.opcao-sabor input[type='checkbox'] {
  display: flex;
  gap: 1rem;
  border: solid 1px #c4c8ccb4;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
.opcao-sabor label {
  display: flex;
  color: var(--grey-01, #818b9c);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.sabor-selecionado {
  position: absolute;
  display: grid;
  background: #fff;
  border: solid #fe86a4;
  padding: 1rem;
  height: 46rem;
  top: 58%;
  left: 30%;
  padding-bottom: 2.5rem;
}
.sabor-selecionado-responsive {
  display: flex;
}
.sabor-selecionado-responsive article {
  display: flex;
  padding-left: 2.5rem;
  padding-top: 2rem;
  gap: 2rem !important;
}
.sabor-selecionado .title-selected {
  color: #333;

  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 41.6px;
}
.sabor-selecionado .paragraph {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 29.8rem;
}
.carousel-custom {
  display: flex;
  height: 28rem;
  width: 28rem;
  border-radius: 5px;
}
.carousel-custom img {
  height: 28rem;
  width: 28rem;
  border-radius: 5px;
}
.control-arrow {
  height: 2rem;
  width: 2rem;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transform: translateY(650%);
}
.thumbs-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  top: 75%;
  left: 10%;
  cursor: pointer;
}
.thumb {
  width: 5rem;
  height: 5rem;
}
.carousel-custom .thumbs-wrapper .thumbs li:hover {
  border: solid #fe86a4;
}
.carousel-custom .thumbs-wrapper .thumbs li.selected {
  border: solid #fe86a4;
}
.thumb img {
  width: 100%;
  height: 100%;

  object-position: center;
}
.button-boxes {
  text-decoration: none;
  color: #fff;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;

  border-radius: 22px;
  background: var(--brand-colors-rosa-01, #fe86a4);

  display: flex;
  padding: 0.1rem 0.2rem;
  justify-content: center;
  width: 12.5rem;
  cursor: pointer !important;
  z-index: 1;
}
.sabor-selecionado .container-alert {
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.8rem;
}
.sabor-selecionado .alert {
  display: flex;
  border-radius: 6px;
  background: rgba(242, 109, 151, 0.15);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.sabor-selecionado .alert p {
  display: flex;
  gap: 0.3rem;
  color: #f0346f;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 25rem;
}
.sabor-selecionado .alert .alert-icon {
  width: 24px;
  height: 24px;
  color: #f0346f;
}
.container-description1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-description2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-container {
  display: flex;
  gap: 20rem;
  padding: 0 6rem;
  align-items: flex-start;
}
.toggle-button1 {
  color: #333;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  background: none;
  border-bottom: solid rgba(242, 109, 151, 0.87);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  padding: 0 1rem;
  transition: 0.3s ease;
  z-index: 1;
}
.toggle-button1:hover {
  background: rgba(242, 109, 151, 0.15);
  transform: translateY(-4px);
}
.additional-content1 {
  display: flex;
  flex-direction: column;
}
.container-additional1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80.5%;
  left: -30%;
  background: #f4f4f4;
  border: solid #303339;
  border-radius: 10px;
  padding: 1.5rem 2rem;
}
.container-additional1 .article-add p {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.toggle-button2 {
  color: #333;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  background: none;
  border-bottom: solid rgba(242, 109, 151, 0.87);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  padding: 0 1rem;
  transition: 0.3s ease;
}
.toggle-button2:hover {
  background: rgba(242, 109, 151, 0.15);
  transform: translateY(-4px);
}
.additional-content2 {
  display: flex;
  flex-direction: column;
}
.container-additional2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80.5%;
  right: 1%;
  background: #f4f4f4;
  border: solid #303339;
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
}
.container-additional2 .article-add p {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.other-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  gap: 2rem;
}
